[init]
	defaultBranch = master
[user]
	email = bld.cris.96@gmail.com
	name = Cristian Baldi
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[credential]
	helper = cache --timeout=7200
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
